CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-9097ce396d455c1bbdd0.json
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7d0ef4bf107696920d50.json
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3769065e25242079d168.json
/CMakeLists.txt
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0fb58dfd219888e39ac7.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-23T20-13-48-0761.json
/cmake-build-debug/.cmake/api/v1/reply/target-trabalho3-Debug-d7526f1abb8cd47ea56f.json
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/trabalho3.exe
